@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #151319;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-elms-sans);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151319;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.mainbutton {
  padding-left: 1.25rem;
  padding-right: 1.25rem; 
  justify-content: center; 
  align-items: center; 
  border-radius: 100; 
  border-width: 1px; 
  border-style: solid; 
  width: 100%; 
  height: 3rem; 
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms; 


  :hover {
  border-color: transparent; 
  }

}
h1 {
  display: block;
  font-size: 3em;
  font-weight: bolder;
}
h2 {
  font-weight: bolder;
}



.pixelicon {
  image-rendering: crisp-edges;
  width: 5rem;
}

.colourcycle{
  animation: colourcycle 2s infinite linear;
}

.gradientbg{
  background-image: linear-gradient(45deg, rgb(63, 32, 95), rgb(34, 38, 145));
}

.parallax1{
  image-rendering: crisp-edges;
  background-image: url("/pixelfg.png");
  min-height: 64px;
  background-size: contain;
  background-repeat: repeat-x;
  animation: scrolling 10s infinite linear;
}

.parallax2{
  image-rendering: crisp-edges;
  background-image: url("/clouds.png");
  min-height: 64px;
  background-size: contain;
  background-repeat: repeat-x;
  animation: scrolling 20s infinite linear;
}

@keyframes scrolling {
  from {background-position-x: 0;}
  to {background-position-x: -1024px;}
}

@keyframes colourcycle {
  from {filter:hue-rotate(0deg)}
  to {filter: hue-rotate(360deg)}
}